@font-face {
  font-family: Win98;
  src: url(fonts/WindowsRegular.ttf);
}

* {
  font-family: "Ms Sans Serif";
}
html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}
body {
  background-color: #00807f;
}
.icons {
  height: 32px;
  width: 32px;
}
.win_back {
  padding: 20px;
  height: 45px;
  width: 35px;
}
a > center {
  padding-top: 10px;
}

.windows_move {
  position: absolute;
  left: 400px;
  top: 75px;
  width: 100vw;
  height: 100vh;
}

a:link {
  color: white;
  text-decoration: none;
}
a:visited {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: none;
  color: #ffffff;
}
a:active {
  text-decoration: none;
}

.table {
  display: flex;
  position: fixed;
  align-items: center;

  bottom: 0px;
  background-color: silver;
  height: 35px;
  width: 100%;
}
.settings {
  margin-left: auto;
  margin-right: 20px;
}
.clock {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 8px;
}

#start {
  margin-left: 2px;
  display: flex;
  align-items: center;
  height: 28px;
}
#start > img {
  height: 22px;
}
#start > strong {
  font-style: bold;
  font-size: medium;
  padding-left: 2px;
}

.tableapp {
  margin-left: 4px;
  display: flex;
  align-items: center;
  height: 28px;
  width: 200px;
}

.tableapp > img {
  height: 18px;
}

.tableapp > strong {
  font-size: medium;

  padding-left: 6px;
}

#ieicon {
  float: left;
  width: 13px;
}

#mydiv {
  position: absolute;
}
